{% extends 'layout.twig' %}

{% block content %}
    <ul>
        {% for entry in entries %}
            <div class="counter">{{ loop.index }}.</div>
            <div class="quote-box">
                <div class="padding-20">
                    <blockquote>
                        {{ entry.story }}
                        <cite>{{ entry.author }}, {{ entry.created|date('d.m.Y') }}</cite>
                    </blockquote>
                    <div class="opener">
                        <a href="{{ app.url_generator.generate('view', {'shortUrl': entry.shorturl}) }}">Tykkää »</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>
{% endblock %}

{% block title %}{{ page_title }} | {% endblock %}