{% extends 'layout.twig' %}

{% block content %}
    <div class="quote-box">
        <div class="padding-20">
            <blockquote>
                {{ story }}
                <cite>{{ author }}, {{ created|date('d.m.Y') }}</cite>
            </blockquote>
        </div>
        <div class="col-xs-9 vcenter margin-20">
            <div class="fb-like" data-href="{{ app.url_generator.generate('view', {'shortUrl': shortUrl}) }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
    </div>
{% endblock %}

{% block title %}{{ author }}: {{ story|truncate(50) }} | {% endblock %}